[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
kopf = "==0.25"
kubernetes = "==10.0.1"
pyyaml = "==5.3"
pytest = "==5.3.4"
pytest-mock = "==2.0.0"
pytest-cov = "*"
pytest-env = "*"
dictdiffer = "*"

[requires]
python_version = "3.7"
